<a href="https://colab.research.google.com/github/saikr0001/sai/blob/master/1.Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Data structure

A data structure is a collection of data elements( such as numbers or characters -- or even other data structures) that is structured in some way ,
for example , by numbering the elements. The most basic data structure in python is the 'sequence' .

--> List is one of the sequence Data structure 
--> Lists are collection of items (strings , integers or even other lists)
--> lists are enclosed in[]
--> Each item in the list has an assigned index value
--> Each item in a list is seperated by comma
--> Lists are mutable , which means they can be changed

In [ ]:
# List creation
emptyList =[]
lst =['one', 'two', 'three','four']  # list of strings

lst2= [1,2,3,4]  # list of integers

lst3 = [[1,2], [3, 4]]  # list of lists

lst4 = [1, 'ramu', 24, 1.24]   # list of different datatypes
print(lst4)

[1, 'ramu', 24, 1.24]

In [ ]:
#List Length by using  'len' function
lst =[ 'one','two','three', 'four']
# find length of a list
print(len(lst))

4

In [ ]:
#LIST APPEND


lst =['one', 'two', 'three', 'four']
lst.append('five')   # append will add the item at the end
print(lst)

['one', 'two', 'three', 'four', 'five']

In [ ]:
# List Insert

# Syntax: lst.insert(x,y)
lst =['one', 'two', 'four']
lst.insert(2, "three")   # will add element y at location x 
lst

['one', 'two', 'three', 'four']

In [ ]:
# LIST REMOVE
# sytax : lst.remove(x)

lst =['one','two','three','four','two']

lst.remove('two')  # it will remove first occurence of 'two' in a given list

print(lst)

['one', 'three', 'four', 'two']

In [ ]:
#LIST APPEND & EXTEND
lst =['one', 'two','three', 'four']
lst2 =['five','six']

# append

lst.append(lst2)
print(lst)

['one', 'two', 'three', 'four', ['five', 'six']]

In [ ]:
lst =['one','two', 'three', 'four']
lst2 = ['five', 'six']
# extend will join the lsit with list1
lst.extend(lst2)

lst

['one', 'two', 'three', 'four', 'five', 'six']

In [ ]:
#LIST Delete

#del to remove item based on index position 

lst= ['one','two','three','four']

del lst[1]        # delete will just remove the item from the list but pop() will return the removed item from the list
print(lst)

#or we can use pop() method 

a= lst.pop(1)     # u can take out an item from list based on index

print(a)
print(lst)

['one', 'three', 'four']
three
['one', 'four']

In [ ]:
lst =['one', 'two','three','four']
# remove an item  from list based on "item" without using any index
lst.remove('three')
print(lst)

['one', 'two', 'four']

In [ ]:
#List realted Keywords in Python                    # Keywords are reserved words in python
# Keyword 'in' is used to test if an item is in a list
lst =['one', 'two','three','four']

if 'two' in lst:
  print("HI")

#Keyword 'not' can combined with 'in'

if 'six' not in lst:
  print('ML')

HI
ML

In [ ]:
#List Reverse
# reverse is  revereses the entire list

lst= ['one', 'two','three','four']
lst.reverse()

print(lst)

['four', 'three', 'two', 'one']

In [ ]:
#List Sorting



*   The easiest way to sort a List is with the sorted(list) function.
*  That takes a list and returns a new list with those elements in sorted order
*   The original list is not changed 
*. The sorted () optional argument reverse =True , e,g sorted(list, reverse =True), makes it sort backwards.

In [ ]:
# create a list with numbers

numbers = [3,1,6,2,8]
sorted_lst = sorted(numbers)
print("Sorted list:" , sorted_lst)

#original list remain unchanged 
print('original list: ', numbers)

Sorted list: [1, 2, 3, 6, 8]
original list:  [3, 1, 6, 2, 8]

In [ ]:
# print a list in reverse sorted order 
print("Reverse sorted list :" , sorted (numbers, reverse= True))

#original list remain unchanged
print("original list:", numbers)

Reverse sorted list : [8, 6, 3, 2, 1]
original list: [3, 1, 6, 2, 8]

In [ ]:
lst =[1,20,5, 5,4.2]

#sort the list and stored in itself 
lst.sort()
lst    # it is sorting in an increasing/ ascending order

[1, 4.2, 5, 5, 20]

In [ ]:
lst =[1,20, 'b', 5,'a' ]  # it gives 'type error' because it sorting by comparing with '<' or '>' . so it cant sort a  number and a string but it can sort a integer and floating numbers 
print(lst.sort())  # sort list with element of different datatypes

TypeError: ignored

In [ ]:
# List having multiple References
lst =[1,2,3,4,5]        
abc= lst                    # Both lst and abc are pointing to same memory location ...any edits you do with abc..it will be reflected in lst
abc.append(6)

#print original list

print("original list:" , lst)

original list: [1, 2, 3, 4, 5, 6]

In [ ]:
# String split to create a list
# let's take a string

s="one,two,three,four, five"
slst= s.split(',')
print(slst)

['one', 'two', 'three', 'four', ' five']

In [ ]:
s= "this is  applied ML course"

split_lst =s.split()    # default split is white-character :space or tab
print(split_lst)

['this', 'is', 'applied', 'ML', 'course']

In [ ]:
#List Indexing

* Each item in the list has an assigned index value starting from 0
* Accessing elements in a list is called indexing

In [ ]:
lst =[1,2,3,4]
print(lst[1])   # print second element
# print last element using negative index
print(lst[-1])

2
4

In [ ]:
# List Slicing

* Accessing parts of segments is called slicing.
* The key point to remember is that the :end value represents the first value that is not in the selected slice.

In [3]:
numbers = [10,20, 30,40 ,50 ,60 ,70 ,80]
# print all numbers
print(numbers[:])

# print from index 0 to index 3
print(numbers[0:4])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40]

In [7]:
print(numbers)
# print alternate elements in a list
print(numbers[::2])        # number[ start index : end index :step size]  <-- syntax

# print elements start from 0 through rest of the list
print(numbers[2::2])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 30, 50, 70]
[30, 50, 70]

In [8]:
#List extend using "+"

lst1= [1,2,3,4]
lst2= ['varma','naveen', 'murali','brahma']
new_lst =lst1+lst2
print(new_lst)

[1, 2, 3, 4, 'varma', 'naveen', 'murali', 'brahma']

In [1]:
# List count 
numbers = [1,2,3, 1,3,4,2, 5]


# frequency of 1 in a list
print(numbers.count(1))    # How many times an element occurs in a list

2

In [2]:
# List looping
# loop through a list
lst =['one ', 'two ', 'three', 'four']

for ele in lst:              #looping
  print(ele)

one
two
three
four

In [ ]:
# list comprehensions

* List comprehensions provide a concise way to create lists
* Common applications are to make new lists where each element is the result of some operations applied to each number of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition

In [3]:
# without list comprehension 
squares =[]
for i in range(10):
  squares.append(i**2)     # list append  to create squares of numbers              i^2    for i :0 to 9 ( normal words)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
# using list comprehension
squares =[i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
# example
lst =[-10, -20 ,10, 20, 50]
# create a new list values doubled 
new_lst =[i*2 for i in lst]
print(new_lst)

# filter the list to exclude negative numbers

new_lst =[i for i in lst if i >= 0]
print(new_lst)

#create a list of tuples like (number, square_of_number)
new_lst =[(i, i**2) for i in range(10)]
print(new_lst)

[-20, -40, 20, 40, 100]
[10, 20, 50]
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

In [7]:
# Nested List Comprehensions
# let's suppose we have a matrix
matrix =[
         [1, 2,3, 4],
         [5,6, 7,8 ],
         [9, 10,11, 12]
]
# transpose of a matrix without list comprehension 

transposed =[]

for i in range(4):
  lst =[]
  for row in matrix:             # row0[0] ,row1[0], row2[0]...
      lst.append(row[i])
  transposed.append(lst)

print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [8]:
# with list comprehension

transposed =[[row[i] for row in matrix ] for i in range(4)]
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]