<a href="https://colab.research.google.com/github/saikr0001/sai/blob/master/1_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Data structure

A data structure is a collection of data elements( such as numbers or characters -- or even other data structures) that is structured in some way ,
for example , by numbering the elements. The most basic data structure in python is the 'sequence' .

--> List is one of the sequence Data structure 
--> Lists are collection of items (strings , integers or even other lists)
--> lists are enclosed in[]
--> Each item in the list has an assigned index value
--> Each item in a list is seperated by comma
--> Lists are mutable , which means they can be changed

In [1]:
# List creation
emptyList =[]
lst =['one', 'two', 'three','four']  # list of strings

lst2= [1,2,3,4]  # list of integers

lst3 = [[1,2], [3, 4]]  # list of lists

lst4 = [1, 'ramu', 24, 1.24]   # list of different datatypes
print(lst4)

[1, 'ramu', 24, 1.24]