<a href="https://colab.research.google.com/github/saikr0001/sai/blob/master/2.Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* TUPLE
* A tuple is similar to list
* The difference between the two is that we can't change the elements of tuple once it is assigned whereas in the list , elements can be changed.
* Tuples are immutable( cannot change) but lists are  mutable ( chnage the elements)

In [2]:
# TUPLE CREATION 
# empty tuple
t=()  # we will use paranthesize  for creating tuples

# tuple having integers
t=(1, 2,3)
print(t)

# tuple with  mixed datatypes
t=(1, 'raju', 28 ,'abc')
print(t)

#nested tuple
t= (1, (2,3,4), [1, 'raju', 28, 'abc'])
print(t)

(1, 2, 3)
(1, 'raju', 28, 'abc')
(1, (2, 3, 4), [1, 'raju', 28, 'abc'])

In [3]:
# only paranthesis is not enough 
t= ('satish')
type(t)

str

* Note: If u not put comma at the end , python will basically think it as a string , otherwise it becomes a tuple. 
* Note: if you have only one element , you need a comma -suppose if you have  2 or more than 2 , you no need comma to consider it as a tuple

In [10]:
# need a comma at the end# if yo
t = ('satish',)   
type(t)

tuple

In [11]:
# Accessing Elements in Tuple
t= ('satish', 'murali', 'naveen', 'srinu', 'brahma')
print(t[1])

murali

In [12]:
# negative index
print(t[-1])  # print last element in a tuple

brahma

In [13]:
# nested tuple

t= ('ABC', ('satish', 'naveen', 'srinu'))
print(t[1])

('satish', 'naveen', 'srinu')

In [14]:
print(t[1][2])

srinu

In [17]:
#slicing    # very similar to lists
t= (1,2,3,4,5,6)

print(t[1:4])
# print elements from starting to 2nd last elements
print(t[:-2])

# print elements from starting to end 
print(t[:])

(2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4, 5, 6)

**Changing a Tuple**

* Unlike lists , tuples are immutable
* This means that elements of a tuple cannot be changed once it has been assigned. But, if the element is itself a mutable datatype like list, its nested items can be changed

In [20]:
# creating tuple
t =(1,2,3,4,[5, 6,7])
t[2]='x'   # will get type error

t[4] =[1,2,3,4]  # will get type error

TypeError: ignored

**NOTE**
* Small twist in above example, instead of modifying a tuple in above example , if i modify a list elements inside that , python will allow us to do that because list is mutable -- conclusion: An element inside a tuple is mutable , means in the above example, you cant modify entire that list i.e t[4] element in that tuple

In [21]:
t[4][1] ='satish'
print(t)

(1, 2, 3, 4, [5, 'satish', 7])

In [22]:
# concatenating tuples
t =(1, 2,3)+ (4, 5,6)
print(t)

(1, 2, 3, 4, 5, 6)

In [23]:
# repeat the elements in a tuple for a given number of times using the * operator
t=(('satish',)*4)
print(t)

('satish', 'satish', 'satish', 'satish')

**Tuple Deletion**

In [24]:
# we cannot change the elements in a tuple
# That also means we cannot delete or remove items from a tuple

# delete entire tuple using del keyword
t =(1, 2,3,4,5,6)

# delete entire tuple
del t

**Tuple count**

In [27]:
t=(1,2,3,1,3,3,4,1)

# get the frequency of particular element appears in a tuple

t.count(1)

3

**Tuple Index**

In [28]:
t= (1,2,3,1,3,3,4,1)
print(t.index(3))  # return index of the first element is  equal to 3 

# print index of the 1

2

**Tuple Membership**

In [29]:
# test if an item exists in a tuple or not , using the keyword in .
t=(1, 2,3,4,5,6)
print(1 in t)

True

In [30]:
print(7 in t)

False

**Built in Functions**

**Tuple length**

In [31]:
t =(1, 2,3,4,5,6)
print(len(t))

6

**Tuple sort**

In [33]:
t= (4, 5, 1,2, 3)

new_t =sorted(t)
print(new_t)  # Take elements in the tuple and return a new sorted list 
              # (does not sort the tuple itself).

[1, 2, 3, 4, 5]

In [34]:
# get the largest element in a tuple
t =(2, 1,5,3, 7, 9)
print(max(t))

9

In [35]:
# get the smallest element in a tuple 
print(min(t))

1

In [36]:
# get sum of elements in the tuple
print(sum(t))

27