<a href="https://colab.research.google.com/github/saikr0001/sai/blob/master/2_Variables_and_data_types_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# we use the assignment operator to assign values to a variable 

a=10
b=5.5
c="ML"

In [ ]:
# Multiple assignments
a,b,c=10,5.5, "ML"

In [ ]:
# Assign the same value to multiple variables at once 
a=b=c ="AI"

In [ ]:
print(a)
print(b)
print(c)

AI
AI
AI

In [ ]:
# STORAGE LOCATIONS
x=3
print(id(x))    # print address of variable X

10914560

In [ ]:
y=3
print(id(y))    # observe both x and y pointing to 3

10914560

In [ ]:
#DATA TYPES
a=5;b=2.2;c="SAI";d="i";e =2+3j
print(a,b,c,d,e, "is of type", type(a), type(b),type(c),type(d),type(e))

5 2.2 SAI i (2+3j) is of type <class 'int'> <class 'float'> <class 'str'> <class 'str'> <class 'complex'>

In [ ]:
# isinstance is used to check the datatype

print(isinstance(1+2j,complex))
print(type(a))

True
<class 'int'>

In [ ]:
#BOOLEAN- Boolean represents the truth values False and TRUE
a=True
print(type(a))

<class 'bool'>

In [ ]:
# PYTHON STRINGS
#  we can use single quotes  or double quotes to represent strings

s='This is GOOGLE COLABS'
d="SAIKUMAR"
print(type(s))
print(type(d))

<class 'str'>
<class 'str'>

In [ ]:
print(s[0]) 
print(s[-1])   #last char s[len(s)-1] or s[-1]
print(s[len(s)-1])

T
S
S

In [ ]:
#slicing
s[5:]

'is GOOGLE COLABS'

In [ ]:
d[2: 4] # 2th to 3th character

'IK'

In [ ]:
#PYTHON LIST
""" List is an ordered sequence of items. All the items  in the list do not need to be of the same type
Declaring a list is, items seperated by commas are enclosed within brackets[]"""

a=[10,2.5, "Hello"]   #
print(a[1])

2.5

In [ ]:
a[1]=30.5  # list elements are mutable - means changable 
print(a)

[10, 30.5, 'Hello']

In [ ]:
#PYTHON TUPLE
T= (1,1.5, "ml")   # TUPLE IS NOT mutable/CHANGABLE   ...Tuple object does not support item assignment....tuples u can think it as constants

In [ ]:
T[1]

1.5

In [ ]:
#PYTHON SET
a={10,20, 50, 15}
print(a)

{10, 20, 50, 15}

In [ ]:
print(type(a))

<class 'set'>

In [ ]:
b={10,10,20}  # automatically set wont consider duplicate elements
print(b)

{10, 20}

In [ ]:
print(b[1])    # set is unordered collection of items ...u cant access single item from set  ..you cant access particular element from set

TypeError: ignored

In [50]:
#DICTIONARY.... in the form of key:value ..key and value can be of any type 

d={'a':"apple", 'b':"bat"}
print(d['a'])

apple

In [47]:
print(d)

SAIKUMAR

In [51]:
print(d['b'])

bat

In [52]:
# conversion between Data types
float(5)

5.0

In [53]:
int(100.5)

100

In [54]:
str(20)

'20'

In [55]:
type(int('10'))

int

In [56]:
type('10')

str

In [59]:
user ="satish"
lines =100
print("Congrats  " + user + "! you just wrote "+str(lines)+" lines of code")

Congrats  satish! you just wrote 100 lines of code

In [60]:
a=[1,2,3]  
print(type(a))   # type of a is list 

s=set(a)    # convert list to set using set() method 

print(type(s))

<class 'list'>
<class 'set'>

In [61]:
# convert string to list using list() method

list('Hello')

['H', 'e', 'l', 'l', 'o']