<a href="https://colab.research.google.com/github/saikr0001/sai/blob/master/3_Standard_Input_and_Output.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello world")

Hello world

In [2]:
a=10
print("The value of a is ", a)   #python 3
print("The value of a is "+ str(a))   # concatinate two strings with +

The value of a is  10
The value of a is 10

In [4]:
#OUTPUT FORMATTING

a=10;b=20 # multiple statements in single line 
print("The value of a is {} and b {} " .format(a,b))

The value of a is 10 and b 20

In [5]:
a=10;b=20 # multiple statements in single line 
print("The value of b is {1} and a is  {0} " .format(a,b))

The value of b is 20 and a is  10

In [7]:
#we can use keyword arguments to format the string
print("Hello {name},{greeting}" .format(name ="sai" , greeting ="Good Morning"))

Hello sai,Good Morning

In [8]:
# we can combine positional arguments with keyword arguments
print('The story of {0}, {1}, and {other}' .format('Bill','Manfreed', other ='Georg'))

The story of Bill, Manfreed, and Georg

In [9]:
#PYTHON INPUT .. want to take input from the user  by using input() function 
num= input("Enter  a number")
print(num)

Enter  a number21
21

In [10]:
num

'21'